
*{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


html {
    display: table;
    margin: auto;
    font-family: "poppins";
    text-decoration: #444444;
    background-color: #f0f0f0;
    list-style: none;
}




body {
    max-width: 1366px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    
}


.wrapper{
    width: 1366px;
    vertical-align: middle;
}


nav {
    display: block;
    /* background-color: #f8a5a5; */
    height: 40px;
    width: 100%;
    /* box-shadow: 00px 00px 10px  #3838384d; */
    
    

}

.checkbtn {
    font-size: 30px;
    color: #00AF74;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    transform: rotate(180deg);
}

#check {
    display: none;
}

label.logo{
    color: #444444;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: "Akira Expanded";
    margin-left: 65px;
}

nav ul{
    float: right;
    margin-right: 150px;


}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;


}

nav ul li a{
    color: #444444;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 0px 10px;

}

nav ul li a:hover {
    border: 2px solid #00AF74;
    transition: .5s;
    color: #00AF74;
    border-radius: 15px;
}

.hero-title {
    width: 1366px;
    text-align: center;
}

h1 {
    width: 1200px;
    margin-top: 20px;
}


.heading-top{
    position: absolute;
    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 70px;
    color: #00AF74;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;

}

.heading-back{
    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    -webkit-text-stroke: 1px #00AF74;   
    color: transparent;
    position: absolute;
    z-index: 1;
    opacity: 60%;
    left: 50%;
    top: 105px;
    transform: translate(-50%, -50%);
}
.hero {
    display: flex;
    flex-direction: column;
    
}



.hero-bottom{
    display: flex;
}

.btns{
        position: relative;
        width: 600px;
        display: flex;
        left: 0;
        
    }

.hero-btn {
    margin-top: 20px;
    font-size: 20px;
    
    color: #ffffff;
    border: 2px solid #00AF74;
    border-radius: 25px;
    padding: 05px 10px;
    width: fit-content;
    background-color: #00AF74;
    box-shadow: 0px 05px 15px  #00af7591;
   
}

.contact-btn{
    display: none;
}

.hero-text{
    text-align: left;
    width: 80%;
    margin: 100px 100px 20px 0px;
}


.hero-left{
    width: 400px;
    margin-left: 200px;
    margin-top: 150px;
}

.hero-right{
    width: 600px;
    margin-top: 50px;
    margin-right: 100px;
}

.icon-container{
    margin: 20px 100px 0px 0px ;
}
.icon-container img{
    width: 32px;
    
    margin: 5px 5px 5px 0px;
}


.profile-pic img {
    width: 700px;
    
}

.profile-pic1 {
    margin-right: 100px;
    
}

.client-bg {
    background-color: #00AF74;
    display: none;
}
section {
    
    text-align: center;
    margin-left: 200px;
}

.career{
    display: flex;
    flex-direction: column;
    
}

table{
    margin: 20px 0px 20px 0px;
}

#table-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
 color: #00AF74;
 
}

#Sub-heads{
    text-align: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    color: #444444;
}

#accordion {
    margin: 50px auto;
    width: 1000px;
    
}

#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00AF74;
}

#accordion label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    cursor: pointer;
    text-align: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #444444;
    
}

#accordion label span{
    transform: rotate(90deg);
    color: black;
    font-size: 20px;
}

#accordion label + input[type="radio"] {
    display: none;
}

#accordion .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}


#accordion label + input[type="radio"]:checked +.content {
    max-height: 100%;
}

@media (max-width: 600px) {

    body{
        width: 600px;
        display: flex;
        flex-direction: row;
        margin: 20px auto;
        overflow-x: hidden;
    }
    .wrapper{
        width: 600px;
        padding: 50px;
    }

    label.logo{
        display: none;
    }

    .nav {
        width: 600px;
        display: none;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    
    
    /* nav ul li a {
        font-size: 16px;

    }

    .checkbtn {
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: #23463a; */
        /* top: 80px;
        left: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    } */ 

    .hero-title {
        width: 600px;
        text-align: center;
    }
    
    h1 {
        width: 600px;
        margin-top: 20px;
    }
    
    
    .heading-top{
        position: absolute;
        font-family: 'Akira Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 70px;
        color: #00AF74;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 100px;
    }
    
    .heading-back{
        font-family: 'Akira Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        -webkit-text-stroke: 1px #00AF74;   
        color: transparent;
        position: absolute;
        z-index: 1;
        opacity: 60%;
        left: 50%;
        top: 105px;
        transform: translate(-50%, -50%);
        padding: 50px;
        text-align: center;
    }
    .hero-bottom{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    
    }

    #a{
        order: 2;
    }

    #b{
        order: 1;
    }
    .profile-pic img {
        width: 500px;
        margin-right: 0;
        

        }


    .hero-left{
        width: 600px;
        margin-top: 0;
        margin-left: 0;
    }
    .hero-text{
        text-align: left;
        width: 500px;
        margin: 20px 0px 20px 0px;
    }
    .icon-container{
        margin: 20px 0px 0px 0px ;
        margin-left: 150px;
        margin-right: auto;
        width: 500px;
    }
    #accordion {
        height: 600px;
        width: 500px;
        
    }
    
    #accordion .content {
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }
    
    #accordion label + input[type="radio"]:checked +.content {
        max-height: 100%;
    }

    .btns{
        position: relative;
        width: 600px;
        display: flex;
        left: 0;
        
    }
    
    .hero-btn {
        position: relative;
        margin-top: 20px;
        font-size: 20px;
        color: #ffffff;
        border: 2px solid #00AF74;
        border-radius: 25px;
        padding: 05px 10px;
        margin-left: 100px;
        margin-right: 10px;
        background-color: #00AF74;
        box-shadow: 0px 05px 15px  #00af7591;
        
       
    }

    .contact-btn{
        display: block;
        position: relative;
        margin-top: 20px;
        font-size: 20px;
        color: #ffffff;
        border: 2px solid #00AF74;
        border-radius: 25px;
        padding: 05px 10px;
        margin-left: 0;
        margin-right: 10px;
        background-color: #00AF74;
        box-shadow: 0px 05px 15px  #00af7591;
        
    }
    
}



@media (max-width: 400px) {

    body{
        width: 320px;
        display: flex;
        flex-direction: row;
        margin: 20px auto;
        overflow-x: hidden;
    }
    .wrapper {
        width: 320px;
        padding: 20px;
    }

    label.logo{
        display: none;
    }

    .nav {
        width: 320px;
        display: none;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    
    
    /* nav ul li a {
        font-size: 16px;

    }

    .checkbtn {
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: #23463a; */
        /* top: 80px;
        left: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    } */ 

    .hero-title {
        width: 320px;
        text-align: center;
    }
    
    h1 {
        width: 300px;
        margin-top: 20px;
    }
    
    
    .heading-top{
        position: absolute;
        font-family: 'Akira Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 70px;
        color: #00AF74;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 100px;
    }
    
    .heading-back{
        font-family: 'Akira Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        -webkit-text-stroke: 1px #00AF74;   
        color: transparent;
        position: absolute;
        z-index: 1;
        opacity: 60%;
        left: 50%;
        top: 102px;
        transform: translate(-50%, -50%);
        padding: 0px;
        text-align: center;
    }
    .hero-bottom{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    
    }

    #a{
        order: 2;
    }

    #b{
        order: 1;
    }

    .profile-pic{
        width: 320px;
    }

    .profile-pic img {
        width: 250px;
        margin-right: 0;
        margin-top: 20px;

    }

    .hero-right{
        width: 300px;
        margin-right: 0px;
    }

    .hero-left{
        width: 300px;
        margin-top: 0;
        margin-left: 0;
    }
    .hero-text{
        text-align: left;
        width: 300px;
        margin: 20px 0px 20px 0px;
    }
    .icon-container{
        width: 200px;
        margin-top: 20px  ;
        margin-left: 50px;
        margin-right: auto;
        width: 300px;
    }
    #accordion {
        height: 320px;
        width: 300px;
        margin-right: 0;
    }
    
    #accordion .content {
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }
    
    #accordion label + input[type="radio"]:checked +.content {
        max-height: 100%;
    }

    .btns{
        position: relative;
        width: 300px;
        display: flex;
        left: 0;
        
    }
    
    .hero-btn {
        position: relative;
        margin-top: 20px;
        font-size: 20px;
        color: #ffffff;
        border: 2px solid #00AF74;
        border-radius: 25px;
        padding: 05px 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #00AF74;
        box-shadow: 0px 05px 15px  #00af7591;
        
    }

    .contact-btn{
        display: block;
        position: relative;
        margin-top: 20px;
        font-size: 20px;
        color: #ffffff;
        border: 2px solid #00AF74;
        border-radius: 25px;
        padding: 05px 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #00AF74;
        box-shadow: 0px 05px 15px  #00af7591;
        
    }
}

